.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #002366;
  position: sticky;
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_option h1 {
  color: white;
  text-decoration: none;
}

.link {
  text-decoration: none;
}
