.card {
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
}

.delete {
  background-color: red;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.edit {
  background-color: blue;
  color: white;
  cursor: pointer;
}
