.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  font-size: 1.2rem;
  padding: 5px 10px;
  cursor: pointer;
}

.theme-toggle.dark{
  background: white;
  color: black;
}